@media all and (min-width: 320px) and (max-width: 1199px) {
button.navbar-toggler {
    padding: 0px !important;
    position: relative;
    box-shadow: none !important;
    outline: none !important;
}
button.navbar-toggler span.navbar-toggler-icon {
    background: none !important;
    position: relative;
    border-top: 2px solid #ed7d22;
    height: 22px !important;
}
button.navbar-toggler span.navbar-toggler-icon::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #ed7d22;
}
button.navbar-toggler span.navbar-toggler-icon::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 8px;
    width: 100%;
    height: 2px;
    background: #ed7d22;
}
.sidebar {
    left: -280px;
}
.open .sidebar {
    left: 0px;
}
.topbar {
    padding: 20px 10px 20px 10px;
}
.mobile-logo {
    display: block;
}
.mobile-logo a {
    width: 120px;
    display: inline-block;
}
.menuicon {
    display: inline-block;
    margin-left: 10px;
}
.menuicon button {
    border: none !important;
    background: none !important;
    padding: 0px;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
.topbar .col-md-5 {
    display: none;
}
.header-right ul.navbar-nav li.nav-item {
    display: inline-block;
    margin-left: 10px;
}
.mainbody {
    padding: 110px 10px 30px 10px;
}
.dashboard-footer {
    padding: 13px 15px 13px 15px;
}
}

/*320-991*/


@media all and (min-width: 320px) and (max-width: 767px) {
.loginbg-w {
    padding: 20px;
    margin: 20px;
}
.loginmain {
    margin: 50px auto;
}
.logo {
    margin-bottom: 28px;
    padding: 0px 40px;
}
.logo a {
    display: inline-block;
    width: 200px;
}
.loginbg-w h1 {
    font-size: 22px;
    margin-bottom: 20px;
}
.dashboard-footer {
    text-align: center;
}
.copyright-left p {
    margin: 0px 0px 6px 0px;
    font-size: 14px;
    line-height: 17px;
}
.copyright-right ul {
    text-align: center;
}
.copyright-right ul li a {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.card-bg .col-md-3::after {
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background: #EFEFEF;
    left: 0px;
    bottom: 0px;
}
.carddesign h3 {
    font-size: 22px;
    margin-bottom: 7px;
    margin-top: 3px;
}
.carddesign h5 {
    font-size: 15px;
    color: #333;
    margin: 0px;
    font-weight: 400;
}
.canvas-heading h2 {
    font-size: 18px;
}
.breadcrumb-sec h2 {
    font-size: 20px;
}
.breadcrumb-sec ol.breadcrumb li.breadcrumb-item {
    font-size: 14px;
}
.breadcrumb-right {
    text-align: left;
    margin-top: 10px;
}
.billing-planmain {
    padding: 20px 20px;
}
.billing-heading h2 {
    padding: 20px 0px;
}
.billing-plan-name {
    width: 100%;
    margin-bottom: 16px;
}
.billing-plan-btn {
    width: 100%;
    text-align: left;
}
.billing-plan-info ul li {
    width: 100%;
    padding: 8px 0px;
}
.report-tabdesign ul.nav.nav-tabs a.nav-link {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tabledesign .table.dt-responsive thead tr th {
    font-size: 14px;
}
.data-upload-btn .cancelbtn {
    margin-bottom: 10px;
    vertical-align: top;
}
.data-uploadtop h2 {
    font-size: 18px;
}
.formheading h1 {
    font-size: 26px;
    margin-bottom: 30px;
}
#progressbar li {
    font-size: 14px;
}
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 19px;
}
#progressbar li:after {
    top: 24px;
}
#msform fieldset {
    padding: 20px;
}
#msform .action-button {
    font-size: 14px;
    padding: 4px 20px;
    min-height: 40px;
    min-width: auto;
}
#msform .action-button-previous{
    font-size: 14px;
    padding: 4px 20px;
    min-height: 40px;
    min-width: auto;
}
#msform .action-button.savebtn {
    float: left;
}
.subscription-sec {
    padding: 50px 0px;
}
.dataupload-successful {
    padding: 20px 0px;
}
.dataupload-successful h2 {
    font-size: 19px;
}
.hotel-details ul li strong {
    width: 100%;
}
.hotel-details ul li span {
    width: 100%;
    display: block;
    padding: 5px 15px;
}
.infoline {
    font-size: 14px;
}
.reportfilter-btn {
    padding-top: 0px;
}
.report-tab-head {
    flex-wrap: wrap;
    gap: 8px 0px;
}
.calendardesign .fc-header-toolbar {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 10px 10px;
}
.calendardesign #calendar .fc-view-harness {
    overflow: scroll;
}
.calendardesign #calendar .fc-view-harness .fc-view {
        width: 600px;
}
.calendar-room-price .nav.nav-tabs a.nav-link {
    margin-right: 10px;
    padding: 6px 14px;
    font-size: 14px;
}
.calendar-edit-price table.table tr th {
    font-size: 14px;
    padding: 8px 10px;
    line-height: 18px;
}
.calendar-edit-price table.table tr td {
    font-size: 14px;
    padding: 8px 10px;
}
.subscription-sec .subscription-card {
    margin-bottom: 20px;
}
.upgrade-form {
    padding: 20px 20px;
}
}

/*320-767*/

@media all and (min-width: 768px) and (max-width: 991px) {
.topbar .col-md-7 {
    width: 100%;
}
.card-bg .col-md-3 {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-bg .col-md-3:nth-child(2)::after {
    display: none;
}
.report-tabdesign ul.nav.nav-tabs a.nav-link {
    font-size: 14px;
    padding: 10px 16px;
    margin-right: 9px;
}
}

/*768-991*/

@media all and (min-width: 992px) and (max-width: 1024px) {
.topbar .col-md-7 {
    width: 100%;
}
}

/*992-1024*/

@media all and (min-width: 768px) and (max-width: 1024px) {
.copyright-left p {
    font-size: 14px;
}
.copyright-right ul li a {
    font-size: 14px;
    margin-left: 18px;
}
.canvas-heading h2 {
    font-size: 18px;
}
}

/*768-1024*/

@media all and (min-width: 1025px) and (max-width: 1199px) {
.topbar .col-md-7 {
    width: 100%;
}
}

/*1025-1199*/

@media all and (min-width: 1200px) and (max-width: 1280px) {
.copyright-right ul li a {
    font-size: 14px;
    margin-left: 18px;
}
.copyright-left p {
    font-size: 14px;
}
.carddesign h5 a.alerts-read {
    margin-left: 14px;
}
.carddesign h3 {
    font-size: 19px;
    margin-bottom: 4px;
    margin-top: 4px;
}
}

/*1200-1280*/
